<nav class="main-nav">
    <ul>
        <li>
            <a href="/">Home</a>
            <!--целта на този таг (<a) е да сложи линк към друга страница
            а (href) указва когато натисна този елемент как да се променя URL - a-->
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/add-route">Add new route</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/">Admin</a>
        </li>
        <li>
            <a href="/">Logout</a>
        </li>
    </ul>
</nav>